
<!-- Header -->
  <div id="header">
    {% if page.title %}
    <!-- Inner -->
      <div class="inner">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
      </div>
      {% endif %}
    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/index.html" class="scrolly">Home</a></li>
          <li><a href="/posts.html" class="scrolly">Blog</a></li>
          <li><a href="/about.html" class="scrolly">About</a></li>
          <!-- 
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}" class="scrolly">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
         -->
        </ul>
      </nav>

  </div>
