---
layout: default
---
<!-- Main -->
    <div class="wrapper style1">

        <div class="container">
            <article id="main" class="special">
                <header>
                    <!-- <h2><a href="#">{{ page.title }}</a></h2> -->
                    <p class="timestamp">{{ page.date | date: "%-d %b %Y" }}</p>
                    <p>
                        {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                    </p>
                </header>
                {{ content }}
            </article>
            </div>
        </div>

    </div>